body {
  background: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.sym {
  opacity: 0;
  height: 0;
  position: absolute;
  top: 25%;
  left: 35%;
  z-index: -1;
}
.message {
  position: absolute;
  left: 40%;
  top: 40%;
  height: 100px;
  width: 300px;
  border-radius: 10px;
  transition: top 0.5s;
  background-color: rgb(159, 11, 11);
  border: 2px solid rgb(159, 11, 11);
  font-size: 50px;
}
.message:active {
  top: 42%;
  background-color: rgb(228, 22, 22);
}
.text1 {
  position: absolute;
  opacity: 0;
  left: 10%;
  top: 0%;
  color: rgb(159, 11, 11);
  font-size: 30px;
}
.text2 {
  position: absolute;
  opacity: 0;
  left: 40%;
  top: 10%;
  color: red;
  font-size: 30px;
}

.text3 {
  position: absolute;
  opacity: 0;
  left: 65%;
  top: 30%;
  color: red;
  font-size: 30px;
}
.text4 {
  position: absolute;
  opacity: 0;
  left: 20%;
  top: 60%;
  color: red;
  font-size: 30px;
}
.text5 {
  position: absolute;
  opacity: 0;
  left: 75%;
  top: 60%;
  color: red;
  font-size: 30px;
}

.text6 {
  position: absolute;
  opacity: 0;
  left: 40%;
  top: 80%;
  color: red;
  font-size: 30px;
}
.text7 {
  position: absolute;
  opacity: 0;
  left: 60%;
  top: 75%;
  color: red;
  font-size: 30px;
}
.text8 {
  position: absolute;
  opacity: 0;
  left: 10%;
  top: 80%;
  color: red;
  font-size: 30px;
}
.text9 {
  position: absolute;
  opacity: 0;
  left: 20%;
  top: 30%;
  color: red;
  font-size: 30px;
}
.text10 {
  position: absolute;
  opacity: 0;
  left: 80%;
  top: 0%;
  color: red;
  font-size: 30px;
}
.cladd {
  animation: animate2 1s linear 0.25s infinite;
}
.cladd2 {
  animation: animate2 1s reverse 0.3s infinite;
}
.cladd3 {
  animation: animate2 1s linear 0.5s infinite;
}
.imgad {
  animation: animate 3s linear 0s infinite;
}

@keyframes animate {
  10% {
    opacity: 1;
    height: 20px;
  }
  20% {
    opacity: 1;
    height: 30px;
  }
  30% {
    opacity: 1;
    height: 60px;
  }
  40% {
    opacity: 1;
    height: 90px;
  }
  50% {
    opacity: 1;
    height: 120px;
  }
  60% {
    opacity: 1;
    height: 150px;
  }
  70% {
    opacity: 1;
    height: 180px;
  }
  80% {
    opacity: 1;
    height: 210px;
  }
  90% {
    opacity: 1;
    height: 240px;
  }
  100% {
    opacity: 1;
    height: 280px;
  }
}
@keyframes animate2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
